/*************************************
*                                    *
*       Developed by @dev_cody       *
*       Cody Koscielski              *
*                                    *
*       1. Header Styles             *
*       2. Project cards             *
*       3. Skills                    *
*                                    *
*************************************/

/* Google font imprt */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h3 {
    text-align: center;
}
 i {
     color: #a4bdbe;
     cursor: pointer;
 }


/* 1. Header styles for landing page*/

.hero-page {
    background-color: #739086;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.wave1 {
    height: 45%;
    position: absolute;
    bottom: 0;
}

.wave2 {
    height: 55%;
    position: absolute;
    bottom: 5px;
}

.hero-text {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 3.5rem;
    letter-spacing: 4px;
    line-height: 45px;
}

.hero-text h2 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 45px;
}

.hero-text p {
    font-size: 1.75rem;
} 

.hero-text button {
    border: none;
    height: 50px;
    width: 125px;
    border-radius: 99999px;
    background-color: #a4bdbe;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.1);
}

/* End Header styles for landing page */

/* 2. Project cards */

.card-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-container a {
    width: 90%; 
    margin: 2% auto;
}

.card-img {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition-duration: .5s;
}

.card-container img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-body h1 {
    font-size: 1.5rem;
    text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.32);
}

.card-body h2 {
    font-size: .75rem;
    opacity: .5;
    margin: 0;
}

.card-body p {
    font-size: .75rem;
    letter-spacing: .75px;
    margin-bottom: 0;
}

.card-body-icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-body-icons i {
    font-size: 2rem;
}

/* End Project cards */

/* 3. Skills */

.skills-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.skills-container .rows {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.tech-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #739086;
    height: 95px;
    width: 95px;
    border-radius: 50%;
}

.tech-icon i {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d8d8d6;
}

.tech-icon p {
    color: #d8d8d6;
    margin: 0;
    font-size: .75rem;
}

/* End skills */