/*************************************
*                                    *
*       Developed by @dev_cody       *
*       Cody Koscielski              *
*                                    *
*       1. Header Styles             *
*       2. Project cards             *
*       3. Skills                    *
*       4. About                     *
*       5. Contact form              *
*       6. Footer                    *
*       7. Media queries             *
*                                    *
*************************************/

/* Google font imprt */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    overflow: auto;
}

h3 {
    text-align: center;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.32);
}
 i {
     color: #a4bdbe;
     cursor: pointer;
 }


/* 1. Header styles for landing page*/

.hero-page {
    background-color: #739086;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.wave1 {
    height: 45%;
    position: absolute;
    bottom: 0;
}

.wave2 {
    height: 55%;
    position: absolute;
    bottom: 5px;
}

.hero-text {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 3.5rem;
    letter-spacing: 4px;
    line-height: 45px;
}

.hero-text h2 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 45px;
}

.hero-text p {
    font-size: 1.75rem;
} 

.hero-text button {
    border: none;
    height: 50px;
    width: 125px;
    border-radius: 99999px;
    background-color: #a4bdbe;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 500;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.1);
}

/* End Header styles for landing page */

/* 2. Project cards */

.card-container {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-container a {
    width: 90%; 
    margin-top: 5%;
}

.card-img {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-top: 5%;
    transition-duration: .5s;
}

.card-container img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-body h1 {
    font-size: 1.5rem;
    text-shadow: 0px 2px 2px rgba(150, 150, 150, 0.32);
}

.card-body h2 {
    font-size: .75rem;
    opacity: .5;
    margin: 0;
}

.card-body p {
    font-size: .75rem;
    letter-spacing: .75px;
    margin-bottom: 0;
}

.card-body-icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.card-body-icons i {
    font-size: 2rem;
}

/* End Project cards */

/* 3. Skills */

.skills-section {
    background-color: #a4bdbe;
    height: 60vh;
    margin-bottom: 15px;
}

.skills-section h3 {
    margin-top: 5%;
    padding-top: 10%;
    color: #eee;
}

.skills-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.skills-container .rows {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.tech-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #739086;
    height: 95px;
    width: 95px;
    border-radius: 50%;
}

.tech-icon i {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d8d8d6;
}

.tech-icon p {
    color: #d8d8d6;
    margin: 0;
    font-size: .75rem;
}
/* End skills */

/* 4. About */

.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container img {
    border-radius: 100%;
    width: 50%;
}

.about-container p {
    margin-top: 0 5%;
    padding: 0 5%;
    font-size: .75rem;
    letter-spacing: .80px;
    line-height: 18px;
}
/* End About */

/* 5. Contact form */

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a4bdbe;
    height: 75vh;
}

.contact-form h3 {
    margin-bottom: 10px;
    color: #eee;
}

.contact-form-container {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d8d8d6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
    height: 65vh;
}

.form-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.form-div p {
    font-size: .75rem;
    margin-top: 5px;
    opacity: .75;
    margin-top: 15px;
    margin-bottom: 0;
}

.input-group {
    position: relative;
    width: 360px;
    border-bottom: 1px solid #739086;
}

.input-group input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 3%;
    font-size: 1rem;
    outline: none;
}

.input-group:hover,
.input-group:focus-within {
    border-bottom: 1px solid#739086;
}

.input-group input:focus,
.input-group:hover input {
    color: #739086;
}

.input-group label {
    position: absolute;
    background-color: transparent;
    padding: 5%;
    line-height: 25px;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: text;
    transition: ease-in .2s;
}

.input-group:hover label {
    color: #739086;
}

.input-group:focus-within label,
.input-group input:not(:placeholder-shown) ~ label {
    padding: 0px 8px;
    top: -12px;
    bottom: auto;
    left: 3px;
    transition: ease-in .2s;
}


form button {
    position: relative;
    outline: none;
    border: none;
    color: white;
    background-color: #739086;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form button:hover {
    top: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
form button:active {
    top: 4px;
    box-shadow: none;
}

label {
    color: #739086;
}

input {
    border: none;
    border-bottom: 1px solid #739086;
    background-color:rgba(0, 0, 0, 0.001);
}

span {
    color: #d589b1;
}
/* End Contact Form */

/* 6. Footer */

footer {
    height: 75px;
    width: 100%;
    background-color: #739086;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.social i {
    font-size: 2.5rem;
    color: #d8d8d6;
    cursor: pointer;
}

.info p {
    margin: 0;
    color: #d8d8d6;
    font-size: .75rem;
    letter-spacing: .80px;
    line-height: 18px;
}

/* End Footer */

/* 7. Media queries */
 
/* Tablet screens*/
@media only screen and (min-width: 768px) {
    

}
/*Large screen*/
@media only screen and (min-width: 992px) {
    

}
/*extra large*/
@media only screen and (min-width: 1200px) {
    

}

/* End media queries